body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #d0c9c0;
}

.top {
  background-image: url("images/background-img.png");
  background-size: cover;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  /* height: 350px; */
  padding: 15px;
  /* margin: 25px; */
}

.tittle {
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.profile-text {
  color: #6d8b74;
  text-align: center;
  display: inline-block;
  width: 50%;
}

.img {
  /* position: absolute; */
  text-align: center;
  display: inline-block;
  width: 50%;
  float: right;
}

#profile-pic {
  border-radius: 10%;
}

.trybe {
  color: #11a36a;
  text-decoration: none;
}

.trybe:hover {
  color: #0a7e51;
}








/* 
h2 {
  color: #5f7161;
  margin: 10px;
}

a {
  color: #6d8b74;
  text-decoration: none;
}

.middle {
  background-color: #d0c9c0;
  color: #6d8b74;
  padding-top: 15px;
  padding-bottom: 15px;
}

.lorem-ipsum {
  padding-left: 25px;
}

.footer {
  background-color:  #d0c9c0;
  text-align: center;
  padding: 20px;
}
 */